.main {
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
}

.main-text {
    text-align: center;
    color: white;
}

.main-text-1 {
    font-size: 2.5em;
    font-weight: 600;
    font-family: inherit;
}

.main-text-2 {
    font-size: 1.2em;
    font-family: inherit;
    color: #38f192;
}

.modal-close-btn {
    position: absolute !important;
    float: right;
    right: 0;
    color: #18b362 !important;
    font-size: 1em !important;
}

.modal-control-btn {
    margin-left: 23%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.modal-render {
    display: flex;
}

.modal-loader {
    height: 100%;
    align-self: center;
}

.name-loader {
    width: 80%;
    margin-top: 30%;
}

/* .modal-control-btn {
    margin: 1%;
    background-color: #4b91fa;
    color: #000000;
}

.modal-control-dbtn {
    margin: 1%;
    background-color: #3981ec;
    color: #000000;
} */

.main-calculate {
    text-align: center;
}