.name {
    margin: 0;
}

.name-text-1 {
    font-size: 2em;
}

.name-text-2 {
    font-size: 1em;
}

.name-form {
    display: flex;
    justify-content: center;
}

.name-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-inputs {
    margin: 10% 0;
}

.name-input input {
    font-size: 1.5em;
}

.MuiFormLabel-root.Mui-focused {
    color: #5EBC28 !important;
}

.MuiInput-underline::before {
    border-bottom-color: #5EBC28 !important;
}

.MuiInput-underline::after {
    border-bottom-color: #5EBC28 !important;
}