.info {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    padding: 5%;
    padding-bottom: 0;
}

.info-form {
    display: flex;
    justify-content: center;
}

.info-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-inputs {
    margin: 3% 0;
    width: 80%;
}

.info-inputs input {
    width: 100%;
    font-size: 1.1em;
    font-weight: bold;
    color: #000000;
}

.info-input label {
    color: #18b362 !important;
}

.info-input.MuiFormControl-root {
    width: 100%;
}

.info-input .MuiFormLabel-root.Mui-focused {
    color: #18b362 !important;
}

.info-input .MuiInput-underline::before {
    border-bottom-color: #18b362 !important;
}

.info-input .MuiInput-underline::after {
    border-bottom-color: #18b362 !important;
}

.MuiOutlinedInput-notchedOutline {
    color: #18b362;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .info {
        padding: 10%;
    }
}