.info {
    margin: 0;
}

.info-form {
    display: flex;
    justify-content: center;
}

.info-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-inputs {
    margin: 5% 0;
}

.info-input input {
    font-size: 1.5em;
}

.MuiFormLabel-root.Mui-focused {
    color: #5EBC28 !important;
}

.MuiInput-underline::before {
    border-bottom-color: #5EBC28 !important;
}

.MuiInput-underline::after {
    border-bottom-color: #5EBC28 !important;
}