.reach-text-1 {
    font-size: 1.1em;
    margin-bottom: 1%;
    color: #fff;
    font-family: 'Josefin Sans';
    text-align: center;
}

.reach-text-1 p {
    font-weight: 600;
}

.reach-text-2 {
    font-size: 1.5em;
    margin-bottom: 1%;
    color: #059b00;
    font-family: 'Josefin Sans';
}

.reach-btn-root {
    display: block;
    text-align: right;
}

.reach-text-3 {
    width: 30%;
    text-align: center;
    margin-left: 65%;
}

.reach-btn {
    margin-top: 1% !important;
    margin-right: 13% !important;
    background-color: #18b362 !important;
    color: #000000 !important;
    text-transform: none !important;
    font-family: 'Josefin Sans' !important;
    font-weight: 700 !important;
    padding: 0.5% 4% !important;
}

.reach-us-form {
    display: flex;
    justify-content: center;
}

.reach-us-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.reach-us-inputs {
    margin: 2% 0;
    width: 80%;
}

.reach-us-input {
    font-size: 1em;
    width: 100%;
}

.reach-us-input .MuiFormLabel-root.Mui-focused {
    color: #18b362 !important;
}

.reach-us-input .MuiInput-underline::before {
    border-bottom-color: #18b362 !important;
}

.reach-us-input .MuiInput-underline::after {
    border-bottom-color: #18b362 !important;
}

.MuiOutlinedInput-notchedOutline {
    color: #18b362;
}