.details {
    margin: 3%;
    display: flex;
    justify-content: space-evenly;
    font-family: inherit;
}

.details td {
    padding-top: 7% !important;
    padding-bottom: 7% !important;
}

.details-padding .details-input-span {
    /* padding-top: 7% !important;
    padding-bottom: 7% !important; */
    font-size: 1em !important;
}

.details-small-padding td {
    padding-top: 7% !important;
    padding-bottom: 7% !important;
}

.details-form {
    display: flex;
}

.details-inner {
    display: flex;
    flex-direction: column;
}

.details-heading {
    font-size: 20px;
    font-family: inherit !important;
}

.details-inputs {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    text-align: left;
}

.details-inputs input {
    border: 0px solid black;
    border-radius: 3px;
}

.details-input-span {
    font-size: 16px;
    /* color: #5ebc28; */
    font-weight: 600;
    font-family: inherit;
}

.details-input input {
    padding: 0 !important;
    text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.MuiTableContainer-root {
    width: 30% !important;
    text-align: center;
    padding: 0.8%;
}

.MuiTableContainer-root-custom {
    width: 45% !important;
    text-align: center;
    padding: 0.8%;
}

.MuiTableContainer-root-custom td {
    padding-top: 6% !important;
    padding-bottom: 6% !important;
}

.MuiTableHead-root {
    text-align: center;
    font-weight: 700;
}

.MuiTableCell-head {
    font-family: inherit !important;
    border-radius: 15px !important;
    font-size: 1rem;
}

.MuiPaper-rounded {
    border-radius: 15px !important;
}

.MuiTableCell-root {
    font-weight: 700 !important;
    font-family: inherit !important;
}

.details-input.MuiFormLabel-root.Mui-focused {
    color: #18b362 !important;
}

.details-input.MuiInput-underline::before {
    border-bottom-color: #18b362 !important;
}

.details-input.MuiInput-underline::after {
    border-bottom-color: #18b362 !important;
}

.projected-head {
    padding: 28px !important;
}

.potential-head {
    padding: 28px !important;
}

.details-result-text-1 {
    position: absolute;
    margin-top: -5%;
    width: 25%;
    text-align: center;
}