.details {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
}

.details-form {
    display: flex;
}

.details-inner {
    display: flex;
    flex-direction: column;
}

.details-heading {
    font-size: 18px;
}

.details-inputs {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    text-align: left;
}

.details-inputs input {
    border: 0px solid black;
    border-radius: 3px;
}

.details-input-span {
    font-size: 16px;
    /* color: #5ebc28; */
    font-weight: 600;
    font-family: 'Montserrat';
}

.details-input input {
    padding: 0 !important;
    text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.MuiTableContainer-root {
    width: 35% !important;
    text-align: center;
}

.MuiTableHead-root {
    text-align: center;
}

/* .MuiInputBase-input {
    padding: 0 !important;
} */